<div class="header-top">
  <div class="container">
    <div class="frame-container justify-content-between">
      <div class="group-parent">
        <img class="group-icon" alt="" src="/assets/logosvg.svg" routerLink="/">
        <!-- For mobile version -->
        <div *ngIf="isMobile" class="div h7 col-md-8">Державна служба зайнятості</div>
        <!-- For web version -->
        <div *ngIf="!isMobile"  style="font-size: 1.625rem" class="div col-auto">Державна служба зайнятості</div>
      </div>
      <div *ngIf="!isMobile" class="parent d-flex mt-3 mt-lg-0" (click)="toggleHighContrast()"  style="margin-right: 1rem">
        <img class="carbonview" alt="" src="assets/images/carbonview.svg">
        <span class="div h7" >Налаштування доступності</span>
      </div>
      <div *ngIf="isMobile" class="col-auto">
        <div mat-icon-button (click)="sidenav?.toggle()" matTooltip="Menu">
          <mat-icon class="maticon" style="color: white;">menu</mat-icon>
        </div>
      </div>
    </div>
    <mat-sidenav-container *ngIf="isMobile" class="app-container">
      <mat-sidenav #sidenav mode="over" [class.mat-elevation-z4]="true" class="app-sidenav">
        <!-- Close Button -->
        <div class="row justify-content-between"
             style="display: flex; margin-top:.5rem;height:max-content;justify-items: center;justify-content: left">

          <button mat-icon-button style="padding: 6px;" (click)="toggleSidenav()" class=" close-button">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider style="background-color: white"></mat-divider>

        <ul>
          <li class="col-12 parent" style="justify-items: end;color: white;margin-top: 1rem" (click)="toggleHighContrast()">
            <img class="carbonview" alt="" src="assets/images/carbonview.svg">
            <span class="div">Налаштування доступності</span>
          </li>
        </ul>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>





