<!-- Footer -->
<footer class="text-center downbar sticky-bottom text-lg-start bg-light text-muted">


  <!-- Grid row -->
  <div class="row indownbar">
    <!-- Grid column -->
    <div class="col-md-12 col-lg-3 ">
      <!-- Content -->
      <div class="row" >
        <!-- Image column -->
        <div class="col-auto ">
          <img src="/assets/blazon-white.svg"  alt="" loading="lazy"/>
        </div>
        <!-- Text column -->
        <div class="col-8  logoheadbrandfooter">
          <span class="brandfooter ">Державний центр <br>зайнятості</span><br>
          <span class="brandfootermini">Офіційний веб-сайт</span>

        </div>
      </div>
    </div>


    <div class="col-md-12 col-lg-3  ">
      <!-- Links -->
      <ul class="navbar-nav ">
        <li class="nav-item">

        </li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-3  ">
      <!-- Links -->
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">



      </ul>
    </div>
    <div class="col-md-12 col-lg-3   ">
      <!-- Links -->
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

        <li class="nav-item">

        </li>

      </ul>
    </div>
  </div>
  <!-- Grid row -->


  <!-- Section: Links  -->
  <mat-divider style="background-color: white"></mat-divider>
  <!-- Copyright -->
  <div class="row indownbar">
    <div class="col-md-12 col-lg-3" style="justify-content: flex-start;text-align: left">
      <div  *ngIf="!isMobile && !isTablet" class="row copyright">
        ©2023 Державний центр зайнятості
      </div>
    </div>

    <!-- Left -->
    <div class="col-md-12 col-lg-3 contactfooter">
      гаряча лінія: 0 800 600 288
    </div>
    <div class="col-md-12 col-lg-3 contactfooter" >
      електрона пошта: 17.dcz.gov.ua
    </div>
    <!-- Right -->
    <div class="col-md-12 col-lg-3 social">
      <a href="https://www.facebook.com/zaniatist" class="me-3">
        <img src="assets/facebook-white.svg" height="32px" alt="" />
      </a>
      <a href="https://t.me/DSZonline" class="me-3">
        <img src="assets/telegram-white.svg" height="32px" alt="" />
      </a>
      <a href="https://www.youtube.com/channel/UCzchYdwO8nMJ3I21f089unw" class="me-3">
        <img src="assets/youtube-white.svg" height="32px" alt="" />
      </a>
      <a href="https://www.instagram.com/derzhavna_sluzhba_zainiatosti/" class="me-3">
        <img src="assets/instagram-icon-white.svg" height="32px" alt="" />
      </a>
      <a href="https://t.me/DCZWorkNowBbot" class="me-3">
        <img src="assets/tgmessenger-white.svg" height="32px" alt="" />
      </a>
      <a href="https://chats.viber.com/dczworknowbot" class="me-3">
        <img src="assets/viber2.svg" height="32px" alt="" />
      </a>
    </div>
    <!-- Right -->
  </div>
</footer>
<!-- Footer -->
