/* Global styles */
html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper for page content to push down footer */
.content-wrapper {
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* The height is set dynamically so no need for a placeholder here */
}
